<center>
<h1>When you feel like things are against you</h1>
<h2><span style="color:red">remember</span> all the amazing things you’ve done before and know</h2>
<h2>that you can do them again.</h2>
<hr>
<h2><a href="home">Have a nice day!</a></h2>
</center>
